@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(38, 38, 38);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(38, 38, 38);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(38, 38, 38);
  --primary: rgb(52, 52, 52);
  --primary-foreground: rgb(252, 252, 252);
  --secondary: rgb(248, 248, 248);
  --secondary-foreground: rgb(52, 52, 52);
  --muted: rgb(248, 248, 248);
  --muted-foreground: rgb(135, 135, 135);
  --accent: rgb(248, 248, 248);
  --accent-foreground: rgb(52, 52, 52);
  --destructive: rgb(191, 51, 41);
  --destructive-foreground: rgb(191, 51, 41);
  --border: rgb(235, 235, 235);
  --input: rgb(235, 235, 235);
  --ring: rgb(181, 181, 181);
  --radius: 0.625rem;
  --sidebar: rgb(252, 252, 252);
  --sidebar-foreground: rgb(38, 38, 38);
  --sidebar-primary: rgb(52, 52, 52);
  --sidebar-primary-foreground: rgb(252, 252, 252);
  --sidebar-accent: rgb(248, 248, 248);
  --sidebar-accent-foreground: rgb(52, 52, 52);
  --sidebar-border: rgb(235, 235, 235);
  --sidebar-ring: rgb(181, 181, 181);
  --button-background: #e9e5d8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-button-background: var(--button-background);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: "#212121";
  font-size: 16px;
}

h2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 27px;
  font-weight: 800;
  line-height: 38px;
}

.subtitle {
  font-weight: 400;
  font-size: 19px;
  line-height: 31.7px;
}

@media (max-width: 640px) {
  .subtitle {
    font-size: 16px;
  }
}

.bricolageFont {
  font-family: "Bricolage Grotesque", sans-serif;
}
